html {
    padding: 0;
    margin: 0;
    background-color: aqua;
}


#example-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-color: black;
    border: 1px solid black;
    padding-bottom: 30px;
}

#example-carousel p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 70px;
    text-transform: uppercase;
    color: white;
}

.carousel-item img {
    display: none;
}

.carousel-item-hidden img {
    display: none;
}

.carousel-item-visible img {
    display: block;
    animation: faceVisibility 0.5s;
}

.carousel-item img {
    width: 95%;
    max-width: 1000px;
    height: auto;
    margin-left: 20px;
}

#carousel-images {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    max-width: 900px;
    
}

.carousel-actions {
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 900px;
    position: absolute;
    top: 70px;
}

.carousel-actions button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

#carousel-button-prev {
    margin-left: 20px;
}

#carousel-button-next {
    margin-right: 20px;
}

@keyframes faceVisibility {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



